<body>
  <h2>Testing infrastructure working!</h2>
  <form action='/names' method='post'>
    Player 1: <input type='text' name='player1'></br>
    Player 2: <input type='text' name='player2'></br>
    <input type='submit' value='Create Players'>
  </form>
</body>
